.conteudo_pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin-top: 10vh;
}

.header{
    background-position: 10%;
    transition: .5s;
    background-size: 10vh;
    color: white;
}

.header li a{
    color: white;
}

.perfil{
    transition: .5s;
    opacity: 1;
}

.card_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    padding: 3vh 3vw;
    border-radius: 20px;
    margin-bottom: 3vh;
    border: 2px solid  #0A0A0A;
    color: white;
}

.card_login h2{
    margin-top: 0;
    margin-bottom: 5vh;
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.campos input{
    margin-bottom: 5vh;
    background-color: #303030;
    border-radius: 5px;
    padding: 2vh 2vw;
    color: white;
}

.campos input:focus{
    outline: 0;
}

.botoes button{
    padding: 1vh 1vw;
    border-radius: 7px;
    font-size: 20px ;
    background-color: #303030;
    border: 1px solid  #0A0A0A;
    color: white;
}

.rodape_login a{
 color: white;
}