body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
.header {
    display: flex;
    justify-content: right;
    background-color: #0A0A0A;
    color: transparent;
    transition: 1s;
    padding: 1vh 1vw;
    background-image: url(../IMG/logo2_semFundo_branca.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15vh;
    font-family: 'Comic Sans MS', Verdana, 'cursive';
}

.header:hover {
    background-position: 10%;
    transition: .5s;
    background-size: 10vh;

    color: white;
}

.logoTipo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 30px;
    margin-right: 1vw;
}

.navegacao {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 5vw;
}

.navegacao li{
    cursor: pointer;
}

.navegacao li:not(:last-child) {
    margin-right: 3vw;
}