.margin_top{
    height: 10vh;
}

.conteudo_pagina{
    display: flex;
    flex-direction: column;
    height: 80vh;
    color: white;
    align-items: center;
    padding-top: 5vh;
}

.card_erro {
    display: none;
    background-color: #d9d9d9;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #0a0a0a 3px solid;
    padding: 10px;
    margin-left: 2vw;
    margin-top: 12vh;
}

.campos_horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin: 5vh 0;
}

.campo_vertical{
    display: flex;
    flex-direction: column;
}

.campo{
    display: flex;
    align-items: center;
    margin: 1vh 0;
}

.campo input{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.campo label{
    cursor: pointer;
}

.botao button {
    padding: 1vh 1vw;
    border-radius: 7px;
    font-size: 20px;
    background-color: #303030;
    border: none;
    color: white;
    cursor: pointer;
}

.loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }