.margin_top{
    display: flex;
    height: 10vh;
}

.conteudo_pagina{
    display: flex;
    flex-direction: row;
    min-height: 85vh;
}

.margin_left{
    display: flex;
    width: 30%;
    height: 100%;
}

.card_perfil{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 30%;
    background-color: #303030;
    border-radius: 0px 20px 20px 0px;
}

.imagem_perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 6vh;
}

.imagem_perfil img{
    width: auto;
    height: 100%;
    
}

.info_usuario{
    width: 60%;
    color: white;
    margin: 5vh 0vw;
}

.input_foto{
    display: none;
}

.nova_senha{
    display: none;
}

.info_usuario h3{
    display: flex;
    justify-content: center;
    width: 100%;
}

.botao button {
    padding: 1vh 1vw;
    border-radius: 7px;
    font-size: 20px;
    background-color: #101010;
    border: none;
    color: white;
    cursor: pointer;
}

.botao_nova_publicacao{
    display: flex;
    width: 100%;
    margin-top: 3vh;
    justify-content: right;
}

.botao_nova_publicacao button {
    padding: 1vh 1vw;
    border-radius: 7px;
    font-size: 20px;
    background-color: #303030;
    border: none;
    color: white;
    cursor: pointer;
}


.publicacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50%;
    margin: 0 10%;
}

.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
}

.postagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;
    border-radius: 10px;
}

.barra_superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: #0A0A0A;
}

.info_usuario_barra{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.icone_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
}

.icone_usuario img{
    width: 100%;
    height: 100%;
    background-color: #303030;
}

.nick{
    margin-left: 7px;
}

.btn_seguir{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.conteudo_postagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 25px;
    width: 100%;
}

.titulo_postagem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    width: 100%;
}

.imagem_postagem{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    width: 100%;
    max-width: 100%;
    background-color: #303030;
    overflow: hidden;
}

.imagem_postagem img{
    max-height: 300px;
    max-width: 80%;
}

.texto_postagem{
    display: flex;
    justify-content: center;
    background-color: #303030;
    margin-top: 1px;
    width: 100%;
}
.texto_postagem p{
    width: 80%;
}