body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
}


/* HEADER */
.header {
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    background-color: #0a0a0ae1;
    backdrop-filter: blur(3px);
    color: transparent;
    width: 98vw;
    height: 10vh;
    transition: .5s;
    padding: 0vh 1vw;
    background-image: url(../IMG/logos/logo2_semFundo_branca.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15vh;
    font-family: 'Arial', Verdana, 'cursive';
}

.header:hover {
    background-position: 10%;
    transition: .5s;
    background-size: 10vh;

    color: white;
}

.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.navegacao li a {
    cursor: pointer;
    text-decoration: none;
    color: #0A0A0A;
    transition: .5s;
    opacity: 0;
}

.navegacao li a:hover {
    text-decoration: underline;
}

.header:hover li a {
    color: white;
    transition: .5s;
    opacity: 1;
}

.navegacao li:not(:last-child) {
    margin-right: 3vw;
}

.botao_header{
    padding: 1vh 1vw;
    border-radius: 7px;
    font-size: 20px;
    background-color: #303030;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: .5s;
}

.header:hover .botao_header{
    opacity: 1;
    transition: .5s;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    background-color: #303030;
    margin-left: 1vw;
    margin-right: 2vw;
    transition: .5s;
}

.header:hover .perfil {
    transition: .5s;
    opacity: 1;
}

.perfil img {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.margin_top {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #101010;
}

/* DIVS DA API */
.card_erro {
    display: none;
    background-color: #d9d9d9;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #0a0a0a 3px solid;
    padding: 10px;
    margin-left: 2vw;
    margin-top: 12vh;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}


/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', Verdana, 'cursive';
    color: white;
    background-color: #0A0A0A;
    height: 5vh;
}