.margin_top {
    height: 10vh;
}

.conteudo_pagina {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    color: white;
    justify-content: center;
    padding-top: 5vh;
}


.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.campos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 50px; */
    height: auto;
    justify-content: center;
    width: 80%;
}

.campo {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    height: 20px;
    width: 220px;
}

.campo input {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.campo label {
    cursor: pointer;
}

.botao button {
    padding: 1vh 1vw;
    border-radius: 7px;
    font-size: 20px;
    background-color: #303030;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

.sem_resultados{
    display: flex;
    height: 60px;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: #0A0A0A;
    color: white;
}